body {
  background-color: #ccc;
}

.navbar-custom {
  background-color: white;
}

.navbar-brand img {
  width: 100px;
}
.form-control-custom {
  width: 500px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.nav-link {
  color: black !important;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 17px;
}

.nav-link img {
  margin-right: 7px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.dropdown-menu a {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-bottom: 12px;
}

.dropdown-menu img {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}
