body {
  background-color: #f0f0f0;
}

.navbar-custom {
  background-color: white;
}

.navbar-brand img {
  width: 100px;
}
.form-control-custom {
  width: 500px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.nav-link {
  color: black !important;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 17px;
}

.nav-link img {
  margin-right: 7px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.dropdown-toggle:hover {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.dropdown-menu a {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-bottom: 12px;
}

.dropdown-menu img {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}

.nav-link.dropdown-toggle::after {
  display: none;
}

.dropdown-menu.custom-dropdown-menu {
  position: absolute;
  left: 0;
  transform: translateX(-80%);
}

.section1 img {
  width: 64px;
  height: 64px;
  align-self: center;
  align-content: center;
}

.section1 {
  background-color: white;
  margin: 10px 20px;
  padding: 15px 5px;
}

.section1 .container {
  width: 100%;
}

.section1 .row {
  margin: 0px -40px;
}

.section1 .col {
  display: grid;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.section1 .col div {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-top: 8px;
}

.section3 .con {
  padding: 0 10px;
  width: 100%;
}

.section3 .row {
  width: 100%;
}

.section3 .row2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.section3 .row2 div {
  width: 100%;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  margin: 7px;
  border-radius: 5px;
  padding: 10px;
  align-content: center;
}

.section3 h4 {
  margin-left: 20px;
}

.section3 img {
  width: 90%;
  height: 165px !important;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.section3 p {
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
}
